@font-face {
  font-family: DancingScript-Regular;
  src: url("DancingScript-Regular.otf");
}
body{
  background-color:  #02010a;
  font-family: DancingScript-Regular;
}
#contenido{
    margin: 0 auto;
    position: relative;
              top: 1px;

    animation: anmContenedor 1s;

}
    @-webkit-keyframes anmContenedor{
        0% {top:  800px}
        100%{top: 1px}
    }
#contenido img{
  box-shadow: 2px 2px #02010a;
}
    #cabecera{
      background: #5b7989;

    }
    #cabeceratit{
      margin: 5px;
      color: white;
      text-shadow:#02010a 2px 2px;
    }
    #cabeceramenu li{
      display: inline-flex;
    }
    #cabeceramenu a{
      color: white;
    }

    #principal{
      background: #82c3a6;
      width: 100%;
      margin:auto;
      text-align: center;
    }

    #principal img{
        width: 80%;
    }
    #secundario{
      background: #d5c75f;
    }
    #secundario1 img:hover{
      transform: rotate(10deg);
      border: 2px;
      box-shadow: 4px 4px 20px  #82c3a6;
    }
    #secundario2 img:hover{
      transform: translate(5px,-20px);
      border: 2px;
      box-shadow: 4px 4px 20px #82c3a6;
    }
    #pie{
      background-color:  #C6d5c5;
      border: solid white;
      border-bottom-left-radius:  10px ;
      border-bottom-right-radius:  10px ;
    }

  @media (min-width: 900px ){
      #contenido{
          margin: auto;
          width: 900px;
      }
        #cabecera{
          width: 100%;
          display: inline-flex;
        }
              #cabeceratit{  width: 70%;      }
              #cabeceramenu{
                width: 30%;
                margin:auto;
                display: inline-flex;
              }
       #secundario{
         width: 100%;
          display: inline-flex;
       }
       #secundario div{
         width: 50%;
         margin: auto;
         text-align: center;

       }
       #secundario img{
         width: 70%;
         padding: 5px;
         height: 200px;
       }
       #pie{
         width: 100%;
         display: inline-flex;
       }
       #pie div{
         width: 25%;
         margin: 10px;
       }
       #pie img{
         width: 15px;
       }

  }

  @media (max-width: 900px){
    #contenido{
      width: 100%;
    }
    #secundario{
      width: 100%;
      display: block;
    }

    #secundario div{
      width: 100%;
      margin: auto;
      text-align: center;
    }
    #secundario img{
      width: 70%;
      padding: 5px;
      height: 200px;
    }
    #pie{
      width: 100%;
      display: block;
    }

    #pie div{
      width: 100%;
      margin: 10px;
    }
    #pie img{
      width: 15px;
    }
  }
